{% extends "base.html" %}
{% load static %}
{% block title %}cryptids{% endblock %} {% block content %}
<h1>Currently available cryptids</h1>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<img id="pic"src= "{{cryptid.img}}">
<ul>
{% for cryptid in cryptids %}
        <li>
            <a href="{% url 'detail' cryptid.id %}">
                {{ cryptid.name }}
            </a> 
        </li> 
    {% empty %}
        <li>No questions</li>
{% endfor %}
</ul>


{% endblock %}